@import url(./theme.css);

.doctor-container-out {
    display: flex;
    justify-content: center;
    margin-inline: 50px;
}

.doctor-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-items: center;
}

.doctor-container a:hover {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .doctor-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 700px) {
    .doctor-container {
        grid-template-columns: auto;
    }
}

.card-doctor .body {
    display: flex;
    gap: 45px;
    align-items: flex-end;
    justify-content: space-between;
}

.card-doctor .btn-pesan {
    position: relative;
    font-size: 1em;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    width: 50%;
    color: var(--dGreen);
    text-decoration: underline;
    transition: all 0.25s ease-in-out;
    margin-bottom: 8px;
}

.btn-pesan:after {
    position: absolute;
    content: "";
    background-color: var(--lGreen);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: all 0.25s ease-in-out;
    z-index: -1;
}

.card-doctor:hover .btn-pesan {
    color: white;
    text-decoration: none;
}

.card-doctor:hover .btn-pesan:after {
    transform: scaleX(1);
}

.card-doctor .body .items {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.card-doctor .body .items div {
    display: flex;
    gap: 3px;
    font-size: 12px;
    color: var(--black);
    background-color: #e4e4e4;
    padding: 5px 8px;
    border-radius: 3px;
}

.card-doctor .body .items div p {
    margin-bottom: 0;
}

.card-doctor .body .harga {
    margin-top: 20px;
}

.card-doctor .body .harga p {
    margin-bottom: 0;
    color: var(--dGreen);
}

.card-doctor .body .harga h4 {
    font-weight: 600;
}
