@import url(./pendaftaran.css);

.container-biodata {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    margin: 20px 80px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.detail-thumb {
    width: 30%;
    height: 25em;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}

main {
    background-color: #f5f9f6;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 40px;
}

.subtitle {
    text-align: center;
}

.subtitle-text {
    margin-bottom: 38px;
    color: var(--black);
    font-size: 2em;
    font-weight: 600;
}

.doctor-poli {
    font-size: 1.2em;
    color: var(--cs);
}

.detail-content .items {
    display: flex;
    gap: 20px;
}

.list-detail-title {
    font-size: 2em;
    font-weight: 600;
    color: var(--black);
}

.desc-title {
    font-size: 1.1em;
    font-weight: 600;
}

p.desc {
    font-size: 1em;
}

.detail-content .items div {
    margin-top: 10px;
    display: flex;
    align-self: center;
    gap: 5px;
    font-size: 0.8em;
    color: var(--black);
    background-color: #e4e4e4;
    padding: 7px 10px;
    border-radius: 3px;
}

.detail-content .items div p {
    margin-bottom: 0;
}

.detail-desc {
    margin-top: 30px;
    text-align: justify;
}

.subtitle-jadwal {
    margin-block: 40px;
    color: var(--black);
    font-size: 2em;
    font-weight: 600;
}

.time-container {
    margin: 0 80px;
    border-radius: 20px;
}

.hari {
    font-weight: 600;
    color: var(--black);
}

.tanggal {
    color: var(--black);
    font-size: 0.9em;
}

.radio-container {
    margin: 0 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.radio-item > input + label {
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: #c3c3c3;
    transition: all 0.15s ease-in-out;
}

.btn-labl:hover {
    background-color: #adadad;
}

.radio-item input {
    visibility: hidden;
    position: absolute;
}

.radio-item > input:checked + label {
    background-color: #daffe8;
    border: 1px var(--dGreen) solid;
}

.accordion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    padding-right: 30px;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--black);
    background-color: #fff;
    transition: all 0.15s ease-in-out;
}

.activee,
.accordion:hover {
    background-color: #daffe8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.clock-cont {
    margin-block: 10px;
    padding: 0 25px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-in-out;
}

.clock-item {
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #ebebeb;
    border: 1px var(--cs) solid;
    color: var(--black);
    transition: all 0.15s ease-in-out;
}

.clock-item:hover {
    text-decoration: none;
    background-color: #c3c3c3;
    color: var(--black);
}

.clock-cont label {
    margin-block: 10px;
}
.clock-cont input {
    position: absolute;
    visibility: hidden;
}

.clock-cont > input:checked + .clock-item {
    background-color: #daffe8;
    border: 1px var(--dGreen) solid;
}

.submit-container {
    margin: 20px 80px;
}

.wrap {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.wrap h5 {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--black);
}

.submit-btn {
    background-color: var(--dGreen);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    transition: all 0.15s ease-in-out;
}

.submit-btn:hover {
    background-color: #006222;
}

.disabled {
    background-color: #c3c3c3;
    color: var(--black);
    pointer-events: none;
}

.not-allowed-cursor {
    cursor: not-allowed;
}
